.main-container {
    width: 200vh;
    /*height: 100vh;*/
}

.header {
    border-radius: 25px;
    margin-bottom: 2rem;
    padding: 2em 5em !important;
    background-color: rgba(231, 255, 241, 0.6);
    overflow: hidden;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 600;
    font-size: 4rem;
    color: #013220;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.group {
    font-size: 3rem;
    color: black;
}

.title {
    color: #013220;
    margin: 0;
    text-align: center;
    flex: 1;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem !important;
}

.upper-panel, .lower-panel, .right-panel {
    display: flex;
    flex-direction: column;
    background-color: rgba(231, 255, 241, 0.6);
    color: black;
    border-radius: 25px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.upper-panel {
    height: 50%;
    overflow: auto;
    min-height: 340px;
}

.lower-panel {
    height: 50%;
    overflow: hidden;
    min-height: 380px;
}

:host ::ng-deep .p-panel,
:host ::ng-deep .p-panel-header,
:host ::ng-deep .p-panel-content,
:host ::ng-deep .results-table .p-paginator,
.table-container {
    background: transparent;
    box-shadow: none;
    border:none;
}

:host ::ng-deep .p-panel-header {
    font-size: 3rem;
    color: #013220;
    border-bottom: 2px solid rgba(1, 50, 32, 0.9);
    justify-content: center;
    padding: 1.5rem;
}

:host ::ng-deep .results-table {
    display: flex;
    flex-direction: column;
    height: 330px;
}

:host ::ng-deep .results-table .p-datatable-wrapper {
    flex-grow: 1;
}

:host ::ng-deep .results-table.p-datatable .p-datatable-thead > tr > th {
    background: transparent;
    color: #013220;
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px solid rgba(1, 50, 32, 0.9);
    padding: 1rem;
}

:host ::ng-deep .results-table .p-datatable-tbody > tr > td {
    color: black;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid rgba(1, 50, 32, 0.9);
    padding: 1rem;
}

:host ::ng-deep .results-table .p-datatable-thead {
    background: transparent;
}

:host ::ng-deep .results-table .p-datatable-tbody > tr {
    background: transparent;
    transition: all 0.2s ease-in-out;
}

:host ::ng-deep .results-table .p-datatable-tbody > tr:hover {
    background: rgba(231, 255, 241, 0.6);
}

.hit-true {
    color: green;
    font-weight: bold;
    font-size: 2.5rem;
}

.hit-false {
    color: red;
    font-weight: bold;
    font-size: 2.5rem;
}

:host ::ng-deep .results-table .p-paginator {
    padding: 1.5rem 0;
}

:host ::ng-deep .results-table .p-paginator .p-paginator-pages .p-paginator-page {
    color: #013220;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 4px;
    min-width: 35px;
    height: 35px;
}

:host ::ng-deep .results-table .p-paginator .p-paginator-icon {
    color: #013220;
    font-weight: bold;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    transition: all 0.2s;
}

:host ::ng-deep .results-table .p-paginator .p-link {
    width: 35px;
    height: 35px;
    border: 2px solid transparent;
    transition: all 0.2s;
}

:host ::ng-deep .results-table .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #013220;
    color: white;
    border-color: #013220;
}

:host ::ng-deep .results-table .p-paginator .p-link:not(.p-highlight):not(.p-disabled):hover {
    background-color: rgba(231, 255, 241, 0.9);
    color: #013220;
    box-shadow: 0 5px 15px rgba(1, 50, 32, 0.3);
    border-color: #013220;
}

.input-section {
    padding: 2rem 5rem 0;
}

.slider-container {
    margin-bottom: 3rem;
}

.slider-container label {
    display: block;
    margin-bottom: 1rem;
    color: black;
    font-size: 3rem;
}

.slider-container ::ng-deep .p-slider {
    background: rgba(231, 255, 241, 0.6);
    height: 5px;
}

.slider-container ::ng-deep .p-slider .p-slider-range {
    background: #013220;
}

.slider-container ::ng-deep .p-slider .p-slider-handle {
    background: rgba(231, 255, 241, 1);
    border: 2px solid #013220;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
}

.slider-container ::ng-deep .p-slider .p-slider-handle:focus,
.slider-container ::ng-deep .p-slider .p-slider-handle:active {
    outline: none;
    box-shadow: none;
}

.button-group {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    justify-content: center;
}

:host ::ng-deep .expand-effect-btn.btn-clear:hover {
    width: 180px;
}

:host ::ng-deep .expand-effect-btn.btn-submit:hover {
    width: 165px;
}

:host ::ng-deep .expand-effect-btn.btn-logout:hover {
    width: 165px;
}

.results-panel {
    flex: 1;
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    background: transparent;
    overflow: hidden;
    border-bottom: 2px solid #013220;
}

.graph-canvas {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.canvas-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    font-size: 2.5rem;
    margin-top: 2rem;
    gap: 3rem;
}

#coor-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-family: exo, sans-serif;
    pointer-events: none;
    z-index: 1;
    display: none;
}

@media (min-width: 1210px) {
    .canvas-wrapper {
        height: 625px;
    }
}

@media (min-width: 891px) and (max-width: 1209px) {
    .main-container {
        width: 100vh;
    }

    .title {
        font-size: 1.5rem;
    }

    .canvas-wrapper {
        height: 625px;
    }
}

@media (max-width: 890px) {
    .main-container {
        width: 50vh;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .content-wrapper {
        grid-template-columns: 1fr;
        height: auto;
    }

    .canvas-wrapper {
        height: 400px;
    }
}
